.title_div{
    background-color: #D1EEEE;
    height: 60px;
}
.title_div_div{
    float: left;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 42px;
    margin: 9px;
}


.title_font{
    font-size: 19px;
    line-height: 28px;
}

.title_font_little{
    font-size: 9px;
    line-height: 13px;
    opacity: 0.7;
}

body{
    margin: 0;
    padding: 0;
}

.icon{
    margin-left: 19px;
    top: 9px;
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
}