.top_left{    /* 左上角*/
    position:absolute;
    top:5px;
}

.top_center{   /* 上中 */

}

.top_right{   /* 上右 */

}

/*
id选择器是在对应的id前面加上英文状态下的#符号
*/
#bbb{
    height: 1000px;
}

#xyq{
    height: 1000px;
    width: 500px;
}

/*
标签选择器是直接在样式的样式头与标签一样即可
*/
img{
    width: 100px;
}

/*
class选择器是在class名前加一个英文状态下的句号
*/
.class1{
    /*
        双马尾
    */
}



