<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>中国联通新零售运营平台</title>
  <link rel="stylesheet" href="../../static/third/layui/css/layui.css">
  <link rel="stylesheet" href="../../static/common/font/iconfont.css">
  <link rel="stylesheet" href="../../static/common/css/common.css">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <i class="iconfont icon-logo"></i>
    <div class="logo-text">
      <div class="logo-text-CHI">中国联通新零售运营平台</div>
      <div class="logo-text-ENG">CHINA UNICOM NEW RETAIL OPERATION</div>
    </div>
    <ul class="layui-nav layui-layout-right">
      <li class="head-search">
        <div>
          <i class="iconfont icon-search"></i>
          <input type="text" class="layui-input" placeholder="智能搜索" />
        </div>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd id="change-position">
            <a href="">切换职位</a>
            <div class="positionList">
              <ul>
                <li>店长</li>
                <li>店员</li>
              </ul>
            </div>
          </dd>
          <dd><a href="">信息修改</a></dd>
          <dd class="last"><a href="">更改密码</a></dd>
        </dl>
      </li>
      <div class="header-icon">
        <i class="iconfont icon-message"></i>
        <div class="header-number">89</div>
      </div>
      <div class="header-icon">
        <i class="iconfont icon-book"></i>
        <div class="header-number">999+</div>
      </div>
      <!-- <li class="layui-nav-item"><a href="">退了</a></li> -->
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item"><a class="" href="javascript:;"><i class="iconfont icon-home"></i>首页</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;"><i class="iconfont icon-channelQuery"></i>渠道查询</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">渠道商品查询</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href=""><i class="iconfont icon-store"></i>店铺管理</a></li>
        <li class="layui-nav-item"><a href=""><i class="iconfont icon-orderQuery"></i>订单查询</a></li>
        <li class="layui-nav-item"><a href=""><i class="iconfont icon-stock"></i>库存查询</a></li>
        <li class="layui-nav-item"><a href=""><i class="iconfont icon-commissions"></i>佣金查询</a></li>
        <li class="layui-nav-item"><a href=""><i class="iconfont icon-maintain"></i>佣金任务维护</a></li>
        <li class="layui-nav-item"><a href=""><i class="iconfont icon-test"></i>清算测试</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">内容主体区域</div>
  </div>
  
  <!-- <div class="layui-footer">
    底部固定区域
    © layui.com - 底部固定区域
  </div> -->
</div>
<script src="../../static/third/layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element,
  $ = layui.jquery;

  // 切换职位
  $('#change-position').on('mouseenter', function() {
    $(this).find('.positionList').show();
  });

  $('#change-position').on('mouseleave', function() {
    $(this).find('.positionList').hide();
  });
});
</script>
</body>
</html>