<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>选择收货地址</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="../static/common/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static/third/weui/lib/weui.min.css">
    <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/common/css/swiper-3.2.5.min.css">
    <link rel="stylesheet" href="../static/common/css/animate.min.css">
    <link rel="stylesheet" href="../static/common/css/public.css">
    <link rel="stylesheet" href="../static/common/css/common.css">
    <link rel="stylesheet" href="../static/common/css/address.css">
</head>

<body>
    <header class="header">
        <div class="header-button is-left">
            <a href="javascript:history.go(-1);" class="router-link-active">
                <button class="mint-button mint-button--default mint-button--normal">
                    <span class="mint-button-icon">
                        <i class="icon iconfont icon-fanhui color-black"></i>
                    </span>
                    <label class="mint-button-text"></label>
                </button>
            </a>
        </div>
        <h1 class="header-title">选择收货地址</h1>
        <div class="header-button is-right">
            <a href="addressManage.html" class="header-text">管理</a>
        </div>
    </header>
    <div class="address-wrapper">
        <div class="address-list-wrap">
            <ul class="address-list_ul">
                <li class="address-list-item">
                    <div class="ads-item_top">
                        <div class="box-flex u-info">
                            <p class="flex">李先生</p>
                            <p class="txtagin-right">18803223203</p>
                        </div>
                        <p class="ads-info">北京市海淀区西四环到西五环之间中关村街道 北四环西路56号 辉煌时代大厦9层</p>
                    </div>
                </li>
                <li class="address-list-item">
                    <div class="ads-item_top">
                        <div class="box-flex u-info">
                            <p class="flex">李先生</p>
                            <p class="txtagin-right">18803223203</p>
                        </div>
                        <p class="ads-info">北京市海淀区西四环到西五环之间中关村街道 北四环西路56号 辉煌时代大厦9层</p>
                    </div>
                </li>
                <li class="address-list-item">
                    <div class="ads-item_top">
                        <div class="box-flex u-info">
                            <p class="flex">李先生</p>
                            <p class="txtagin-right">18803223203</p>
                        </div>
                        <p class="ads-info">北京市海淀区西四环到西五环之间中关村街道 北四环西路56号 辉煌时代大厦9层</p>
                    </div>
                </li>
                <li class="address-list-item">
                    <div class="ads-item_top">
                        <div class="box-flex u-info">
                            <p class="flex">李先生</p>
                            <p class="txtagin-right">18803223203</p>
                        </div>
                        <p class="ads-info">北京市海淀区西四环到西五环之间中关村街道 北四环西路56号 辉煌时代大厦9层</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-wrap">
        <div class="add-ads">
            <a href="addressAddEdit.html" class="weui-btn weui-btn_primary">添加新地址</a>
        </div>
    </div>


</body>
<script src="../static/third/weui/lib/jquery-2.1.4.js"></script>
<script src="../static/third/weui/js/jquery-weui.js"></script>
<script src="../static/third/weui/js/swiper.js"></script>


</html>