<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>申请售后</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_668017_ifcm1w16cfhwipb9.css">
    <link rel="stylesheet" href="../static//third/weui/lib/weui.min.css">
    <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/common/css/swiper-3.2.5.min.css">
    <link rel="stylesheet" href="../static/common/css/public.css">
    <link rel="stylesheet" href="../static/common/css/common.css">
    <link rel="stylesheet" href="../static/common/css/orderDetail.css">
    <link rel="stylesheet" href="../static/common/css/afterSales.css">

</head>

<body ontouchstart>
    <header class="header">
        <div class="header-button is-left">
            <a href="javascript:history.go(-1);" class="router-link-active">
                <button class="mint-button mint-button--default mint-button--normal">
                  <span class="mint-button-icon">
                      <i class="icon iconfont icon-fanhui color-black "></i>
                  </span> 
                  <label class="mint-button-text"></label>
                </button>
            </a>
        </div>
        <h1 class="header-title">申请售后</h1>
        <div class="header-button is-right"></div>
    </header>
    <div class="contain">
        <div class="order-box-sales ">
            <div class="model box" id="aftersales">
                <div class="order-model ">
                    <div class="order-model box-col3">
                        <div class="box-col3-1">
                            <img src="../static/common/images/order_01.png" />
                        </div>
                        <div class="box-col3-4">
                            <p class="product-name">{{list.name}}</p>
                        </div>
                        <div class="box-col3-1">
                            <p class="product-price-cut">{{list.cutMoney}}</p>
                            <p class="product-price-though">{{list.realMoney}}</p>
                            <p class="product-num fr">x{{list.num}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="model box">
                <div class="title-Row">
                    <span class="text">参数详情</span>
                    <i class="icon iconfont icon-more arrow-down fr"></i>
                    <span class="fr">退货</span>
                </div>
                <div class="box-flex textrow">
                    <div class="flex left">问题说明</div>
                    <div class="flex4">
                        <textarea class="textareabox">请您在此描述问题</textarea>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="btn-submit">提交</div>
            </div>
        </div>
    </div>
    <script src="../static/third/weui/lib/jquery-2.1.4.js "></script>
    <script src="../static/third/weui/js/jquery-weui.js "></script>
    <script src="../static/third/weui/js/swiper.js "></script>
    <script src="../static/third/vue.min.js"></script>
    <script src="../static/third/axios.min.js"></script>
    <script src="../static/common/js/main.js"></script>
    <script src="../static/busi/afterSales.js "></script>
</body>