<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>查看发票</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="../static/common/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static/third/weui/lib/weui.min.css">
    <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/common/css/swiper-3.2.5.min.css">
    <link rel="stylesheet" href="../static/common/css/public.css">
    <link rel="stylesheet" href="../static/common/css/common.css">
    <link rel="stylesheet" href="../static/common/css/invoice.css">
</head>

<body ontouchstart>
    <header class="header">
        <div class="header-button is-left">
            <a href="javascript:history.go(-1);" class="router-link-active">
                <button class="mint-button mint-button--default mint-button--normal">
                    <span class="mint-button-icon">
                        <i class="icon iconfont icon-fanhui color-black "></i>
                    </span> 
                    <label class="mint-button-text"></label>
                </button>
            </a>
        </div>
        <h1 class="header-title">查看发票</h1>
        <div class="header-button is-right"></div>
    </header>

    <!-- 记录列表 -->
    <div class="check-invoice" id="invoiceInfo" v-cloak>
        <div class="invoice-info">
            <div class="each-info">发票状态：{{invoice.state}}</div>
        </div>
        <div class="invoice-info">
            <div class="each-info">订单编号：{{invoice.no}}</div>
            <div class="each-info">下单时间：{{invoice.datetime}}</div>
        </div>
        <div class="invoice-info">
            <div class="each-info">发票类型：{{invoice.type}}
                <a :href="'invoiceDetail.html?id='+invoice.no">查看发票</a>
                <a href="#">发送邮箱</a>
            </div>
            <div class="each-info">发票抬头：{{invoice.header}}</div>
            <div class="each-info">发票内容：{{invoice.content}}</div>
            <div class="each-info">发票编码：{{invoice.code}}</div>
        </div>
    </div>
</body>
<script src="../static/third/weui/lib/jquery-2.1.4.js"></script>
<script src="../static/third/weui/js/swiper.js"></script>
<script src="../static/third/vue.min.js"></script>
<script src="../static/third/axios.min.js"></script>
<script src="../static/common/js/main.js"></script>
<script src="../static/busi/checkInvoice.js"></script>
</html>



