<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>找回密码</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="../static/common/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static//third/weui/lib/weui.min.css">
    <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/common/css/swiper-3.2.5.min.css">
    <link rel="stylesheet" href="../static/common/css/public.css">
    <link rel="stylesheet" href="../static/common/css/common.css">
    <link rel="stylesheet" href="../static/common/css/login.css">
</head>

<body>
    <header class="header">
        <div class="header-button is-left">
            <a href="javascript:history.go(-1);" class="router-link-active">
                <button class="mint-button mint-button--default mint-button--normal">
					<span class="mint-button-icon">
						<i class="icon iconfont icon-fanhui color-black"></i>
                        <i class="icon iconfont icon-shachu-xue color-black"></i>
					</span>
					<label class="mint-button-text"></label>
				</button>
            </a>
        </div>
        <h1 class="header-title">找回密码</h1>
        <div class="header-button is-right"></div>
    </header>
    <div class="login-wrapper">
        <div class="login-quick-wrapper">
            <img src="../static/common/images/img_01.png" class="header-img" />
            <div class="psd-userinfo">
                <p>李嘉佳</p>
                <p>验证码已发送到绑定手机号</p>
                <p>186****8021</p>
            </div>
        </div>
        <div class="weui_cells weui_cells_form weui_cells_form_diy">
            <div class="weui-cell weui-cell-last">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入验证码" id="code">
                </div>
                <div class="weui-cell__ft">
                    <div class="resend-btn-wrap">
                        <input type="button" value="发送验证码" class="weui-btn_primary" id="vCode">
                    </div>
                </div>
            </div>
        </div>
        <div class="login-btn-wrap">
            <a href="javascript:;" class="weui-btn weui-btn_primary" id="submit">下一步</a>
        </div>
        <p class="tips-p">
            遇到问题？<a href="javascript:;">提交账户申诉</a>
        </p>
    </div>


</body>
<script src="../static/third/weui/lib/jquery-2.1.4.js"></script>
<script src="../static/third/weui/js/jquery-weui.js"></script>
<script src="../static/busi/forgetPassword-02.js"></script>


</html>