<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>我的收藏</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_668017_tu9ad5bikcdqjjor.css">
    <link rel="stylesheet" href="../static//third/weui/lib/weui.min.css">
    <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/common/css/swiper-3.2.5.min.css">
    <link rel="stylesheet" href="../static/common/css/public.css">
    <link rel="stylesheet" href="../static/common/css/common.css">
    <link rel="stylesheet" href="../static/common/css/mycollection.css">
</head>

<body>
    <header class="header">
        <div class="header-button is-left">
            <a href="javascript:history.go(-1);" class="router-link-active">
                <button class="mint-button mint-button--default mint-button--normal">
					<span class="mint-button-icon">
						<i class="icon iconfont icon-fanhui color-black"></i>
					</span>
					<label class="mint-button-text"></label>
				</button>
            </a>
        </div>
        <h1 class="">
            <div class="top-bar" id="topBar">
                <ul class="top-tab-ul clearfix">
                    <li class="top-tab-li active">
                        <a href="javascript:;">商品</a>
                    </li>
                    <li class="top-tab-li">
                        <a href="javascript:;">店铺</a>
                    </li>
                </ul>
            </div>
        </h1>
        <div class="header-button is-right"></div>
    </header>
    <div class="colletion-wrapper">
        <div class="netSlidebox">

            <div class="swiper-container" id="tabs-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" id="keepList">
                        <div class="model box" v-for="(item, index) in keeplist" :key="index">
                            <div class="order-model mycollect ">
                                <div class="order-model box-col3 ">
                                    <div class="box-col3-1 ">
                                        <img src="../static/common/images/collect_05.png " />
                                    </div>
                                    <div class="box-col3-4 ">
                                        <p class="product-name ">{{item.name}}</p>
                                        <p class="product-dec ">{{item.productDec}}</p>
                                        <div>
                                            <span class="text-price ">{{item.realPrice}}</span>
                                            <span class="text-grey "> {{item.price}}</span>
                                            <i class="icon iconfont icon-gouwuche fr color-black "></i>
                                        </div>
                                    </div>

                                </div>
                                <div class="box-col2 box-center ">
                                    <div class="btn02 ">看相似</div>
                                    <div class="btn02 ">降价通知</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide " id="store">
                        <div class="model box ">
                            <div class="order-model mycollect " v-for="(item, index) in store" :key="index">
                                <img class="mycollect-icon " src="../static/common/images/collect_02.png " />
                                <div class="order-model box-col3 ">
                                    <div class="mycollect-img ">
                                        <img src="../static/common/images/collect_05.png " />
                                    </div>
                                    <div class="box-col3-4 ">
                                        <p class="product-name ">{{item.name}}</p>
                                        <p class="product-dec ">{{item.funs}}</p>
                                        <div class="btn-model ">
                                            <span class="color-green ">上新</span>
                                            <span class="color-yellow ">专题</span>
                                        </div>
                                    </div>
                                    <div class="flex "><i class="icon iconfont icon-more fr color-black "></i></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>


</body>
<script src="../static/third/weui/lib/jquery-2.1.4.js "></script>
<script src="../static/third/weui/js/jquery-weui.js "></script>
<script src="../static/third/vue.min.js"></script>
<script src="../static/third/weui/js/swiper.js "></script>
<script src="../static/busi/mycollection.js "></script>


</html>