<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>订单详情</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_668017_ifcm1w16cfhwipb9.css">
    <link rel="stylesheet" href="../static//third/weui/lib/weui.min.css">
    <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/common/css/swiper-3.2.5.min.css">
    <link rel="stylesheet" href="../static/common/css/public.css">
    <link rel="stylesheet" href="../static/common/css/common.css">
    <link rel="stylesheet" href="../static/common/css/orderDetail.css">
</head>

<body ontouchstart>
    <header class="header">
        <div class="header-button is-left">
            <a href="#/" class="router-link-active">
                <button class="mint-button mint-button--default mint-button--normal">
                  <span class="mint-button-icon">
                      <i class="icon iconfont icon-fanhui color-black "></i>
                  </span> 
                  <label class="mint-button-text"></label>
                </button>
            </a>
        </div>
        <h1 class="header-title">订单详情</h1>
        <div class="header-button is-right"></div>
    </header>
    <div class="contain">
        <div class="order-box model"><i class="icon iconfont icon-dingdanwancheng orderDone"></i>交易成功</div>
        <div class="order-wliu product-model">
            <div class="order-wliu-icon"><i class="icon iconfont icon-wuliu color-black "></i></div>
            <div class="order-wliu-dec">
                <p>[北京市]快递已在海淀区签收，签收本人，感谢 您使用顺丰快递，期待再次为您服务！</p>
                <p>2018-05-08 16:48:00</p>
            </div>
            <div class="order-wliu-arrow"> <i class="icon iconfont icon-more arrow-down fr"></i></div>
        </div>
        <div class="order-address order-wliu model ">
            <div class="order-address-icon">
                <i class="icon iconfont icon-shouhuodizhi "></i>
            </div>
            <div class="order-address-dec">
                <div class="order-address-name">
                    <span>收货人：嘟嘟</span>
                    <span class="fr">186264380</span>
                </div>
                <div class="order-address-dec">收货地址：北京市海淀区西北旺东街10号院东区19号楼 1层101</div>
            </div>
        </div>
        <div class="order-box-sales ">
            <div class="order-sale-title box"><i class="icon iconfont icon-dianpu "></i>华为官方旗舰店<i class="icon iconfont icon-more "></i></div>
            <div class="model box">
                <div class="order-model ">
                    <div class="order-model box-col3">
                        <div class="box-col3-1">
                            <img src="../static/common/images/order_01.png" />
                        </div>
                        <div class="box-col3-4">
                            <p class="product-name">Huawei/华为 P20 Pro 全面屏正品 手机</p>
                            <p class="product-dec">颜色：渐变樱粉金 存储容量：128G</p>
                        </div>
                        <div class="box-col3-1">
                            <p class="product-price-cut">¥ 4988.00</p>
                            <p class="product-price-though">¥ 6288.00</p>
                            <p class="product-num fr">x 1</p>
                        </div>
                    </div>
                    <div class="btnbox">
                        <div class="btn02 fr mt40 ">申请售后</div>
                    </div>
                </div>
                <div class="order-model ">
                    <div class="order-model box-col3">
                        <div class="box-col3-1">
                            <img src="../static/common/images/order_02.png" />
                        </div>
                        <div class="box-col3-4">
                            <p class="product-name">Huawei/华为 P20 Pro 全面屏正品 手机</p>
                            <p class="product-back">七天退换</p>
                        </div>
                        <div class="box-col3-1">
                            <p class="product-price-cut">¥ 4988.00</p>
                            <p class="product-price-though">¥ 6288.00</p>
                            <p class="product-num fr">x 1</p>
                        </div>
                    </div>
                    <div class="btnbox">
                        <div class="btn02 fr mt40 ">申请售后</div>
                    </div>
                </div>
                <div class="row-dec">
                    <span class="row-dec-left">运费：</span>
                    <span class="row-dec-right">￥0.00</span>
                </div>
                <div class="row-dec">
                    <span class="row-dec-left"></span>
                    <span class="row-dec-right">全国包邮</span>
                </div>
                <div class="row-dec">
                    <span class="row-dec-left">满减优惠：</span>
                    <span class="row-dec-right">-￥300.00</span>
                </div>
                <div class="row-dec">
                    <span class="row-dec-left">实付款（含邮费）：</span>
                    <span class="row-dec-right price">￥6687.00</span>
                </div>
            </div>
            <div class="model box">
                <div class="order-model ">
                    <div class="order-model box-col2">
                        <div class="box-col2-5">
                            <p class="product-text">发票类型：电子普通发票</p>
                            <p class="product-text">发票抬头：亚信科技（中国）有限公司</p>
                            <p class="product-text">纳税人识别号：911101086000426500</p>
                        </div>
                        <div class="box-col2-1">
                            <span class="btn03 fr">复制</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="model box">
                <div class="order-model ">
                    <div class="order-model box-col2">
                        <div class="box-col2-5">
                            <p class="product-text">发票类型：电子普通发票</p>
                            <p class="product-text">发票抬头：亚信科技（中国）有限公司</p>
                            <p class="product-text">纳税人识别号：911101086000426500</p>
                        </div>
                        <div class="box-col2-1">
                            <span class="btn03 fr">下载发票</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="model box clearfix">
                <div class="btn02 fr">评价晒单</div>
                <div class="btn02 fr  mr40">再次购买</div>
            </div>
        </div>
    </div>
</body>