<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>退换货订单</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_668017_ifcm1w16cfhwipb9.css">
    <link rel="stylesheet" href="../static//third/weui/lib/weui.min.css">
    <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/common/css/swiper-3.2.5.min.css">
    <link rel="stylesheet" href="../static/common/css/public.css">
    <link rel="stylesheet" href="../static/common/css/common.css">
    <link rel="stylesheet" href="../static/common/css/orderDetail.css">
    <link rel="stylesheet" href="../static/common/css/return.css">
</head>

<body ontouchstart>
    <header class="header">
        <div class="header-button is-left">
            <a href="javascript:history.go(-1);" class="router-link-active">
                <button class="mint-button mint-button--default mint-button--normal">
                  <span class="mint-button-icon">
                      <i class="icon iconfont icon-fanhui color-black "></i>
                  </span> 
                  <label class="mint-button-text"></label>
                </button>
            </a>
        </div>
        <h1 class="header-title">退换货订单</h1>
        <div class="header-button is-right"></div>
    </header>
    <div class="contain">
        <div class="order-box-sales  " id="orderReturn">
            <div class="retrun-contain" v-for="(item, index) in orderlist" :key="index">
                <div class="order-sale-title box">服务单号：{{item.ordernum}}<span class="text-color fr">{{item.orderstate}}</span></div>
                <div class="model box">
                    <div class="order-model ">
                        <div class="order-model box-col2">
                            <div class="box-col2-1 orderimg">
                                <img src="../static/common/images/order_01.png" />
                            </div>
                            <div class="box-col2-5">
                                <p class="product-name">{{item.name}}</p>
                                <p class="product-dec">{{item.productdec}}</p>
                                <p class="return-text"><span>{{item.Price}}</span><span class="fr">x {{item.num}}</span></p>
                            </div>
                        </div>
                        <div class="box-col3 retrunbox">
                            <div class="box-col3-1 return-time">{{item.time}}</div>
                            <div class="box-col3-4">
                                <div class="box-col2">
                                    <div class="box-col2-1">
                                        <i class="icon iconfont icon-wancheng color-red "></i>
                                    </div>
                                    <div class="box-col2-5 retrun-done">
                                        <p>{{item.step01}}} </p>
                                        <p>{{item.step011}}</p>
                                    </div>
                                </div>
                                <div class="box-col2">
                                    <div class="box-col2-1">
                                        <i class="icon iconfont icon-wanjietuijian "></i>
                                    </div>
                                    <div class="box-col2-5 retrun-grey">
                                        <p>{{item.step02}} </p>
                                        <p>{{item.step022}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-col3-1">
                                <i class="icon iconfont icon-more color-black fr "></i>
                            </div>
                        </div>
                        <div class="btnbox">
                            <div class="btn02 fr mt40 "> 处理中</div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <script src="../static/third/weui/lib/jquery-2.1.4.js "></script>
    <script src="../static/third/weui/js/jquery-weui.js "></script>
    <script src="../static/third/weui/js/swiper.js "></script>
    <script src="../static/third/vue.min.js"></script>
    <script src="../static/third/axios.min.js"></script>
    <script src="../static/common/js/main.js"></script>
    <script src="../static/busi/orderReturn.js "></script>
</body>