<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>退换货订单</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_668017_ifcm1w16cfhwipb9.css">
    <link rel="stylesheet" href="../static//third/weui/lib/weui.min.css">
    <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/common/css/swiper-3.2.5.min.css">
    <link rel="stylesheet" href="../static/common/css/public.css">
    <link rel="stylesheet" href="../static/common/css/common.css">
    <link rel="stylesheet" href="../static/common/css/orderDetail.css">
    <link rel="stylesheet" href="../static/common/css/return.css">
</head>

<body ontouchstart>
    <header class="header">
        <div class="header-button is-left">
            <a href="#/" class="router-link-active">
                <button class="mint-button mint-button--default mint-button--normal">
                  <span class="mint-button-icon">
                      <i class="icon iconfont icon-fanhui color-black "></i>
                  </span> 
                  <label class="mint-button-text"></label>
                </button>
            </a>
        </div>
        <h1 class="header-title">退换货订单</h1>
        <div class="header-button is-right"></div>
    </header>
    <div class="contain">
        <div class="order-box-sales  ">
            <div class="retrun-contain">
                <div class="order-sale-title box">服务单号：1234567890<span class="text-color fr">退货</span></div>
                <div class="model box">
                    <div class="order-model ">
                        <div class="order-model box-col2">
                            <div class="box-col2-1">
                                <img src="../static/common/images/order_01.png" />
                            </div>
                            <div class="box-col2-5">
                                <p class="product-name">Huawei/华为 P20 Pro 全面屏正品 手机</p>
                                <p class="product-dec">颜色：渐变樱粉金 存储容量：128G</p>
                                <p class="return-text"><span>¥ 4988.00</span><span class="fr">x 1</span></p>
                            </div>
                        </div>
                        <div class="box-col3 retrunbox">
                            <div class="box-col3-1 return-time">05-09 15:30</div>
                            <div class="box-col3-4">
                                <div class="box-col2">
                                    <div class="box-col2-1">
                                        <i class="icon iconfont icon-wancheng color-red "></i>
                                    </div>
                                    <div class="box-col2-5 retrun-done">
                                        <p>待用户确认 </p>
                                        <p>您的服务单1234567890财务已退款，请您注意查收！</p>
                                    </div>
                                </div>
                                <div class="box-col2">
                                    <div class="box-col2-1">
                                        <i class="icon iconfont icon-wanjietuijian "></i>
                                    </div>
                                    <div class="box-col2-5 retrun-grey">
                                        <p>待用户确认 </p>
                                        <p>下一阶段：退单完成</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-col3-1">
                                <i class="icon iconfont icon-more color-black fr "></i>
                            </div>
                        </div>
                        <div class="btnbox">
                            <div class="btn02 fr mt40 "> 处理中</div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="retrun-contain">
                <div class="order-sale-title box">服务单号：1234567890<span class="text-color fr">退货</span></div>
                <div class="model box">
                    <div class="order-model ">
                        <div class="order-model box-col2">
                            <div class="box-col2-1">
                                <img src="../static/common/images/order_01.png" />
                            </div>
                            <div class="box-col2-5">
                                <p class="product-name">Huawei/华为 P20 Pro 全面屏正品 手机</p>
                                <p class="product-dec">颜色：渐变樱粉金 存储容量：128G</p>
                                <p class="return-text"><span>¥ 4988.00</span><span class="fr">x 1</span></p>
                            </div>
                        </div>
                        <div class="box-col3 retrunbox">
                            <div class="box-col3-1 return-time">05-09 15:30</div>
                            <div class="box-col3-4">
                                <div class="box-col2">
                                    <div class="box-col2-1">
                                        <i class="icon iconfont icon-wancheng color-red "></i>
                                    </div>
                                    <div class="box-col2-5 retrun-done">
                                        <p>待用户确认 </p>
                                        <p>您的服务单1234567890财务已退款，请您注意查收！</p>
                                    </div>
                                </div>
                                <div class="box-col2">
                                    <div class="box-col2-1">
                                        <i class="icon iconfont icon-wanjietuijian "></i>
                                    </div>
                                    <div class="box-col2-5 retrun-grey">
                                        <p>待用户确认 </p>
                                        <p>下一阶段：退单完成</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-col3-1">
                                <i class="icon iconfont icon-more color-black fr "></i>
                            </div>
                        </div>
                        <div class="btnbox">
                            <div class="btn02 fr mt40 "> 已解决</div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</body>