<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>隐私协议</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="../static/common/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/common/css/public.css">
    <link rel="stylesheet" href="../static/common/css/common.css">
</head>

<body ontouchstart>
    <header class="header">
        <div class="header-button is-left">
            <a href="javascript:history.go(-1);" class="router-link-active">
                <button class="mint-button mint-button--default mint-button--normal">
                    <span class="mint-button-icon">
                        <i class="icon iconfont icon-fanhui color-black "></i>
                    </span> 
                    <label class="mint-button-text"></label>
                </button>
            </a>
        </div>
        <div class="header-button is-right"></div>
    </header>
    <div class="privacyBox">
        <p class="title">关于中国联通智慧生活馆隐私的声明</p>
        <p>中国联通智慧生活馆业务是由中国联通公司（以下称“我们”或“中国联通”）运营的为您提供会员专属服务及店内多样化购物方式的产品（或服务）。我们深知个人信息对您的重要性，并会尽全力保护您的个人信息安全可靠。 我们承诺，将按业界成熟的安全标准，采取相应的安全保护措施来保护您的个人信息。请在使用我们的产品（或服务）前，仔细阅读并了解本《关于中国联通智慧生活馆隐私的声明》。</p>
        <p>您承诺在您开始使用本产品/服务时是成年人。如您是未成年人，则需要您的监护人同意您使用本应用并同意相关应用服务条款。</p>
        <p>如果您有任何疑问、意见或建议，请通过客服热线：10010、或通过在线客服与我们联系，或者将其提交至我们的各省市分公司或中国联通营业厅。</p>
        <p>我们设立了个人信息保护专职部门（或个人信息保护专员），您可以通过发送电子邮件至xxx@chinaunicom.cn 与其取得联系。</p>
        <p>一般情况下，我们将在一个月内回复。</p>
        <p>如果您对我们的回复不满意，特别是我们的个人信息处理行为损害了您的合法权益，您还可以通过向有管辖权人民法院提起诉讼、向行业自律协会或政府相关管理机构投诉等外部途径进行解决。</p>
        <p>一、我们如何收集和使用您的个人信息</p>
        <p>个人信息是指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。</p>
        <p>个人敏感信息是指包括身份证号码、个人生物识别信息、银行账号、财产信息、行踪轨迹、交易信息、14岁以下（含）儿童的个人信息等。</p>
        <p>我们仅会出于本声明所述的以下目的，收集和使用您的个人信息：</p>
        <p>（一）为您提供以下核心功能服务</p>
        <p>1、公众号粉丝注册中国联通智慧生活馆会员的功能，以及会员专属的各类权益、活动等</p>
        <p>2、H5线上门店/小程序使用者注册生活馆会员的功能，以及基于小程序/APP/H5线上店等多样化购物方式</p>
        <p>3、与其他三方触点公司合作，如联通智慧生活馆品牌号等且通过用户授权的功能</p>
        <p>为了您可以享受到以上服务，我们需要收集您的手机号码及网络ID。目的是为了注册智能生活馆专属会员。</p>
        <p>我们将按照以下方式使用您的个人信息：包括不限于会员注册、打通中国联通的客户积分系统、形成用户画像，并据此画像，通过微信、品牌号渠道、短信等向您推送特定的优惠或活动信息</p>
        <p>若您不提供这类信息，则无法享受相关会员服务。</p>
        <p>如果您提供以下额外信息，将有助于我们给您提供更好的服务和体验：生日、性别、所处城市等。但如果您不提供这些信息，将不会影响使用本服务的基本功能。</p>
        <p>当我们要将信息用于本声明未载明的其它用途时，会事先征求您的同意。</p>
        <p>当我们要将基于特定目的收集而来的信息用于其他目的时，会事先征求您的同意。</p>
        <p>二、向第三方服务提供商提供您的个人信息</p>
        <p>不涉及</p>
        <p>三、用户画像及广告推送</p>
        <p>我们可能根据您的以下个人信息进行分析和用户画像，以便向您提供更好的体验和个性化的服务，如专属优惠券、特定活动、特定商品等，您可以通过在会员中心注销会籍的方式关闭用户画像功能。</p>
        <p>四、您的数据主体权利</p>
        <p>在您使用中国联通智慧生活馆的会员应用期间，为了您可以更加便捷地访问、更正、删除您的个人信息，同时保障您撤回对个人信息使用的同意的权利，我们在产品设计中为您提供了相应的操作设置，您可以参考下面的指引进行操作。</p>
        <p>（一） 访问个人信息</p>
        <p>在会员中心页面点击个人信息，在打开的页面中查看个人信息</p>
        <p>（二） 更新个人信息</p>
        <p>在会员中心页面点击个人信息，在打开的页面上进行个人信息的更新</p>
        <p>（三） 删除个人信息</p>
        <p>点击”删除账号”按钮后，在弹出的通知页面上点击确认，则删除全部个人隐私数据。</p>
        <p>如您对您的数据主体权利存在任何疑问、意见或建议，请通过本声明文首的联系方式与我们取得联系并行使您的相关权利。</p>
        <p>五、数据存储地点及期限</p>
        <p>（一）数据存储地点</p>
        <p>我们在本服务项下收集和产生的个人信息，将存储在【中华人民共和国境内】。</p>
        <p>（二）数据存储期限</p>
        <p>我们仅为实现目的所必需的时间保留您的个人信息，并在超出前述保留时间后删除或匿名化处理您的个人信息，但法律法规另有要求的除外。</p>
        <p>在中国联通智慧生活馆业务中，当您主动提出删除账号后，我们会删除您提供的全部个人隐私数据。</p>
        <p>此外，当我们的产品或服务发生停止运营的情形时，我们将以推送通知、公告等形式通知您，并在合理的期限内删除您的个人信息或进行匿名化处理。</p>
        <p>七、本声明如何更新</p>
        <p>中国联通保留适时更新本声明的权利，当声明发生变更时，我们会通过弹窗方式、推送微信消息或者短信方式向您展示变更后的声明，只有在获取您的同意后，我们才会按照更新后的声明收集、使用、存储您的个人信息。</p>
        <p>本声明自更新之日起生效。</p>
        <p class="">最近更新日期：2018-06-11</p>
        <p><span class="font-weight">重要提示：</span>本隐私声明是关于中国联通智慧生活馆业务在隐私方面的陈述与承诺，如您希望了解更多关于数据主体权利、信息安全措施等详细信息，请阅读《中国联通用户隐私政策》。</p>
    </div>
</body>