<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>商品详情</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <link rel="stylesheet" href="../static/common/iconfont/iconfont.css">


    <link rel="stylesheet" href="../static//third/weui/lib/weui.min.css">
    <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
    <link rel="stylesheet" href="../static/common/css/swiper-3.2.5.min.css">
    <link rel="stylesheet" href="../static/common/css/public.css">
    <link rel="stylesheet" href="../static/common/css/common.css">
    <link rel="stylesheet" href="../static/common/css/productDetail.css">
</head>

<body ontouchstart>
    <header class="header">
        <div class="header-button is-left">
            <a href="javascript:history.go(-1);" class="router-link-active">
                <button class=" mint-button mint-button--default mint-button--normal ">
                  <span class="mint-button-icon ">
                      <i class="icon iconfont icon-fanhui color-black "></i>
                  </span> 
                  <label class="mint-button-text "></label>
                </button>
            </a>
        </div>
        <h1 class="header-title ">亦庄文化园广场店</h1>
        <div class="header-button is-right "></div>
    </header>
    <div>
        <div class="model mt50 " id="productDetail">
            <i class="iconfont icon-gouwuche"></i>
            <!-- 轮播开始 -->
            <div class="swiper-container swiper-product " data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000 ">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide "><img src="../static/common/images/banner01.png " /></div>
                    <div class="swiper-slide "><img src="../static/common/images/banner01.png " /></div>
                    <div class="swiper-slide "><img src="../static/common/images/banner01.png " /></div>
                </div>
                <div class="swiper-pagination "></div>
            </div>
            <p class="pro-name ">{{productData.proName}}</p>
            <div class="pro-price ">
                <span class="pro-price-cut ">{{productData.propricecut}}</span>
                <span class="pro-price-defult "> {{productData.proprice}} </span>
                <span class="pro-num fr ">库存 {{productData.number}}件</span>
            </div>
        </div>
        <!--规格 -->
        <div class="model box">
            <div class="title">规格</div>
            <div class="g-ul">
                <ul class="gUl" id="gUl">
                    <li class="" v-for="(item,index) in gUl" :key="index">{{item}}</li>
                </ul>
            </div>
        </div>
        <!-- 参数详情 -->
        <div class="model box ">
            <div class="title-Row ">
                <span class="text ">参数详情</span>
                <i class="icon iconfont icon-moreunfold arrow-down fr "></i>
            </div>
            <div class="parabox ">
                <div class="weui-cells weui-cells_form " id="protab01">
                    <div class="weui-cell " v-for="(value,key,index) in protab01" :key="index">
                        <div class="weui-cell__hd "><label class="weui-label ">{{key}}</label></div>
                        <div class="weui-cell__bd paratext ">{{value}}</div>
                    </div>



                </div>
                <div class="weui-cells weui-cells_form " id="protab02">
                    <div class="weui-cell " v-for="(value,key,index) in protab02" :key="index">
                        <div class="weui-cell__hd "><label class="weui-label ">{{key}}</label></div>
                        <div class="weui-cell__bd paratext ">{{value}}</div>
                    </div>

                </div>
                <div class="weui-cells weui-cells_form " id="protab03">3</div>
                <div class="weui-cells weui-cells_form " id="protab04">4</div>
            </div>
        </div>
        <!-- 宝贝评价 -->
        <div class="model box ">
            <div class="title-Row ">
                <span class="text ">宝贝评价(99)</span>
                <i class="icon iconfont icon-moreunfold arrow-down fr "></i>
                <span class="fr text ">查看全部</span>
            </div>
            <div class="comment-box " id="comendList">
                <div class="comment-row " v-for="(item, index) in comendList" :key="index">
                    <div class="comment-user "><img src="../static/common/images/user_01.png " /></div>
                    <div class="comment-detail ">
                        <p class="comment-detail-user ">{{item.comUser}}</p>
                        <p class="comment-detail-dec ">{{item.comDec}}</p>
                        <ul class="comment-detail-ul clearfix ">
                            <li><img src="../static/common/images/img_01.png " /></li>
                            <li><img src="../static/common/images/img_02.png " /></li>
                            <li><img src="../static/common/images/img_03.png " /></li>
                        </ul>
                        <p class="comment-detail-user ">{{item.comTime}}</p>
                    </div>
                </div>
                <!-- <div class="comment-row ">
                    <div class="comment-user "><img src="../static/common/images/user_02.png " /></div>
                    <div class="comment-detail ">
                        <p class="comment-detail-user ">爱***猫</p>
                        <p class="comment-detail-dec ">同事推荐购买的，真的太喜欢了！价格优惠，新手上手很快！</p>

                    </div>
                </div> -->
            </div>
        </div>
        <!-- 商品详情 -->
        <div class="model box pb2 ">
            <div class="title-Row ">
                <span class="text ">商品详情</span>
                <div class="product-detail "><img src="../static/common/images/img_04.png " /></div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer ">
        <div class="footer-col">
            <a href="index.html">
                <p><i class="icon iconfont icon-shouye1"></i></p>
                <p>首页</p>
            </a>
        </div>
        <div class="footer-col keepbtn">
            <P> <i class="icon iconfont icon-shoucang"></i></P>
            <p>收藏</p>
        </div>
        <div class="shopping">
            <p class="">加入购物车</p>
        </div>
        <div class="buy ">
            <a href="orderBalanceSubmit.html">
                <p class="btn01 ">立即购买</p>
            </a>
        </div>
    </div>
</body>
<script src="../static/third/weui/lib/jquery-2.1.4.js "></script>
<script src="../static/third/weui/js/swiper.js "></script>
<script src="../static/third/vue.min.js"></script>
<script src="../static/third/axios.min.js"></script>
<script src="../static/common/js/main.js"></script>
<script src="../static/busi/productDetail.js "></script>
<script>
</script>

</html>