<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title>充值缴费</title>
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <link rel="stylesheet" href="../static/third/weui/lib/weui.min.css">
        <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.min.css">
        <link rel="stylesheet" href="../static/common/css/public.css">
        <link rel="stylesheet" href="../static/common/css/common.css">
        <link rel="stylesheet" href="../static/common/iconfont/iconfont.css">
        <link rel="stylesheet" href="../static/third/weui/lib/weui.css">
        <link rel="stylesheet" href="../static/third/weui/css/jquery-weui.css">
        <link rel="stylesheet" href="../static/common/css/payfee.css">
    </head>
</head>

<body ontouchstart>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>活动名称</p>
            </div>
            <div class="weui-cell__ft">测测试测试测试测试测试测试试</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>开始时间</p>
            </div>
            <div class="weui-cell__ft">2018-06-21 10：00</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>结束时间</p>
            </div>
            <div class="weui-cell__ft">2018-06-21 10：00</div>
        </div>
    </div>
</body>