<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>百度</title>
    <!--
    引用标签：
        引用标签头尾 link 意思是关联
            引用标签内部的 常用 属性有：
                rel  --表示关联的文件类型，其中 “stylesheet” 意为样式表
                href --表示关联文件的路径
    -->
    <link rel="stylesheet" href="../static/css/top.css">
</head>
<body>
<!--
    img标签是图片标签，内部常用属性有
            src 其中src为图片路径。写法和href属性写法一致
        source  --资源
-->

<!--
    id属性 是唯一标识属性 意为在该页面中这个id是唯一的
-->
<img class="class1" id="xyq" src="../static/images/1.jpg"/>
<img id ="syy" class="class1" src="../static/images/1.jpg"/>


</body>
</html>
