<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>渠道商品查询</title>
    <link rel="stylesheet" href="../../static/third/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/common/font/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/common.css">
    <link rel="stylesheet" href="../../static/common/css/table.css">
    <link rel="stylesheet" href="../../static/common/css/page.css">

</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <i class="iconfont icon-logo"></i>
        <div class="logo-text">
            <div class="logo-text-CHI">中国联通新零售运营平台</div>
            <div class="logo-text-ENG">CHINA UNICOM NEW RETAIL OPERATION</div>
        </div>
        <ul class="layui-nav layui-layout-right">
            <li class="head-search">
                <div>
                    <i class="iconfont icon-search"></i>
                    <input type="text" class="layui-input" placeholder="智能搜索" />
                </div>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <i class="iconfont icon-message"></i>
            <i class="iconfont icon-book"></i>
            <!-- <li class="layui-nav-item"><a href="">退了</a></li> -->
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="iconfont icon-home"></i>首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="iconfont icon-channelQuery"></i>渠道查询</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;">渠道商品查询</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="">
                        <i class="iconfont icon-store"></i>店铺管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">
                        <i class="iconfont icon-orderQuery"></i>订单查询</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">
                        <i class="iconfont icon-stock"></i>库存查询</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">
                        <i class="iconfont icon-commissions"></i>佣金查询</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">
                        <i class="iconfont icon-maintain"></i>佣金任务维护</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">
                        <i class="iconfont icon-test"></i>清算测试</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-fluid">
            <div class="layui-breadcrumb">
                <i class="bread-icon layui-icon">&#xe623;</i>
                <a>
                    <cite>渠道商品查询</cite>
                </a>
                </span>
            </div>
            <div class="block-wrapper search-wrapper">
                <div class="layui-form">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-sm3">
                            <!-- input ="text"  输入框 -->
                            <div class="layui-form-item layui-form-item_vertical">
                                <label class="layui-form-label"><em class="star">*</em>商品编码</label>
                                <div class="layui-input-block layui-input-other">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入渠道编码" class="layui-input">
                                    <p class="from-tips"></p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <!-- input ="text"  输入框 -->
                            <div class="layui-form-item layui-form-item_vertical">
                                <label class="layui-form-label">
                                    <em class="star">*</em>商品名称</label>
                                <div class="layui-input-block layui-input-other">
                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入渠道编码" class="layui-input">
                                    <p class="from-tips"></p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <div class="layui-form-item layui-form-item_vertical">
                                <label class="layui-form-label"><em class="star">*</em>商品分类</label>
                                <div class="layui-input-block layui-input-other">
                                    <select name="interest" lay-filter="aihao">
                                        <option value=" ">全部</option>
                                        <option value="0">未完成</option>
                                        <option value="1">已完成</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <div class="layui-form-item layui-form-item_vertical">
                                <label class="layui-form-label"><em class="star">*</em>品牌</label>
                                <div class="layui-input-block layui-input-other">
                                    <select name="interest" lay-filter="aihao">
                                        <option value=" ">全部</option>
                                        <option value="0">未完成</option>
                                        <option value="1">已完成</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm3">
                            <div class="layui-form-item layui-form-item_vertical">
                                <label class="layui-form-label"><em class="star">*</em>商品状态</label>
                                <div class="layui-input-block layui-input-other">
                                    <select name="interest" lay-filter="aihao">
                                        <option value=" ">全部</option>
                                        <option value="0">未完成</option>
                                        <option value="1">已完成</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm9">
                            <div class="layui-form-item layui-form-item_vertical">
                                <label class="layui-form-label"></label>
                                <div class="layui-input-block layui-input-other">
                                    <div class="search-btn-wrapper">
                                        <button class="layui-btn layui-btn-back">重置</button>
                                        <button class="layui-btn layui-btn-sure">筛选</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="block-wrapper export-wrapper">
               <div class="layui-row">
                   <div class="layui-col-sm7 export-wrapper-left">
                       <h4 class="sort-title">排序</h4>
                       <ul class="sort-ul">
                           <li class="sort-li down">
                               <a href="javascript:;">
                                   <span>销售</span>
                                   <i class="layui-icon">&#xe61a;</i>
                               </a>
                           </li>
                           <li class="sort-li down">
                               <a href="javascript:;">
                                   <span>销售库存</span>
                                   <i class="layui-icon">&#xe61a;</i>
                               </a>
                           </li>
                       </ul>
                   </div>
                   <div class="layui-col-sm5 export-wrapper-right">
                       <span>满足条件商品共计<em class="red">2</em>种，合计<em class="red">12</em>件</span>
                       <button class="layui-btn layui-btn-back">导出数据</button>
                   </div>

               </div>
            </div>

            <div class="block-wrapper channerl-comdy-result layui-form">
                <ul class="commodity-wrapper">
                    <li class="commodity-item">
                        <div class="layui-row">
                           <div class="layui-col-sm9">
                               <div class="checkbox"><input type="checkbox" name="like1[write]" lay-skin="primary" title="" checked=""></div>
                               <h3 class="h3-title">1、华为b3智能运动手环手表蓝牙耳机通话计步器防水安卓苹果系统<a href="javascript:;">商品详情</a> </h3>
                               <div class="info">
                                   <p>品牌：华为电子</p>
                                   <p>品类：智能手环</p>
                               </div>
                           </div>
                            <div class="layui-col-sm3">
                               <div class="right">
                                   <p>所属渠道：渠道1</p>
                                   <p>状态:<em class="red">店铺不可售</em></p>
                               </div>
                           </div>
                        </div>
                        <div class="table-simple">
                            <table class="layui-hide" id="test"></table>
                        </div>
                    </li>
                    <li class="commodity-item">
                        <div class="layui-row">
                            <div class="layui-col-sm9">
                                <div class="checkbox"><input type="checkbox" name="like1[write]" lay-skin="primary" title="" checked=""></div>
                                <h3 class="h3-title">2、华为b3智能运动手环手表蓝牙耳机通话计步器防水安卓苹果系统<a href="javascript:;">商品详情</a> </h3>
                                <div class="info">
                                    <p>品牌：华为电子</p>
                                    <p>品类：智能手环</p>
                                </div>
                            </div>
                            <div class="layui-col-sm3">
                                <div class="right">
                                    <p>所属渠道：渠道1</p>
                                    <p>状态:<em class="red">店铺不可售</em></p>
                                </div>
                            </div>
                        </div>
                        <div class="table-simple">
                            <table class="layui-hide" id="test1"></table>
                        </div>
                    </li>
                </ul>
                <div class="page-wrap" id="page"></div>
            </div>
        </div>
    </div>
</div>

<script src="../../static/third/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../static/busi/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use('channelCommodityQuery'); //加载入口
</script>
</body>

</html>