<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>订单详情</title>
    <link rel="stylesheet" href="../../static/third/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/common/font/iconfont.css">
    <link rel="stylesheet" href="../../static/common/css/common.css">
    <link rel="stylesheet" href="../../static/common/css/page.css">
    <link rel="stylesheet" href="../../static/common/css/table.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <i class="iconfont icon-logo"></i>
            <div class="logo-text">
                <div class="logo-text-CHI">中国联通新零售运营平台</div>
                <div class="logo-text-ENG">CHINA UNICOM NEW RETAIL OPERATION</div>
            </div>
            <ul class="layui-nav layui-layout-right">
                <li class="head-search">
                    <div class="form_search">
                        <i class="iconfont icon-search"></i>
                        <input type="text" class="layui-input" placeholder="智能搜索" />
                    </div>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="">基本资料</a>
                        </dd>
                        <dd>
                            <a href="">安全设置</a>
                        </dd>
                    </dl>
                </li>
                <div class="header-icon">
                    <i class="iconfont icon-message"></i>
                    <div class="header-number">89</div>
                </div>
                <div class="header-icon">
                    <i class="iconfont icon-book"></i>
                    <div class="header-number">999+</div>
                </div>
                <!-- <li class="layui-nav-item"><a href="">退了</a></li> -->
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">
                            <i class="iconfont icon-home"></i>首页</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont icon-channelQuery"></i>渠道查询</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;">渠道商品查询</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">
                            <i class="iconfont icon-store"></i>店铺管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">
                            <i class="iconfont icon-orderQuery"></i>订单查询</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">
                            <i class="iconfont icon-stock"></i>库存查询</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">
                            <i class="iconfont icon-commissions"></i>佣金查询</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">
                            <i class="iconfont icon-maintain"></i>佣金任务维护</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">
                            <i class="iconfont icon-test"></i>清算测试</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-fluid  orderQueryWrap">
                <div class="layui-breadcrumb">
                    <i class="bread-icon layui-icon">&#xe623;</i>
                    <a href="./orderQuery.html">订单查询</a>
                    <a>
                        <cite>订单详情</cite>
                    </a>
                </div>
                <div class="topRightBtn-wrap">
                    <button class="layui-btn layui-btn-primary cancelOrder">取消订单</button>
                </div>
                <div class="block-wrapper orderQueryWrap-tip">

                    <span class="icon iconfont icon-pass orderDetail-status"></span>
                    <p class="tipBig bold">订单已完成</p>
                    <p class="tipSmall">
                        <a class="layui-link layui-link-dec" data-method="print">打印订单详情</a>
                        <a class="layui-link layui-link-normal" data-method="invoice" data-flag="0">查看发票</a>
                    </p>
                    <ul class="clearfix step-wrap logisticsStep-wrap">
                        <li class="fl step-li step-active step-finish">
                            <div class="step-li-head">
                                <i class="step-li-line"></i>
                                <span class="step-icon">
                                    <i class="icon iconfont icon-orderQuery"></i>
                                </span>
                            </div>
                            <p class="step-title">提交订单</p>
                            <p class="step-subTitle">
                                <span>2018-01-03</span>
                                <span>10:13:00</span>
                            </p>
                        </li>
                        <li class="fl step-li step-active ">
                            <div class="step-li-head">
                                <i class="step-li-line"></i>
                                <span class="step-icon">
                                    <i class="icon iconfont icon-channelQuery"></i>
                                </span>
                            </div>
                            <p class="step-title">付款成功</p>
                            <p class="step-subTitle">
                                <span>2018-01-03</span>
                                <span>10:13:00</span>
                            </p>
                        </li>
                        <li class="fl step-li">
                            <div class="step-li-head">
                                <i class="step-li-line"></i>
                                <span class="step-icon">
                                    <i class="icon iconfont icon-channelQuery"></i>
                                </span>
                            </div>
                            <p class="step-title">商品生产</p>
                            <p class="step-subTitle">
                                <span>2018-01-03</span>
                                <span>10:13:00</span>
                            </p>
                        </li>
                        <li class="fl step-li">
                            <div class="step-li-head">
                                <i class="step-li-line"></i>
                                <span class="step-icon">
                                    <i class="icon iconfont icon-channelQuery"></i>
                                </span>
                            </div>
                            <p class="step-title">商品出库</p>
                            <p class="step-subTitle">
                                <span>2018-01-03</span>
                                <span>10:13:00</span>
                            </p>
                        </li>
                        <li class="fl step-li">
                            <div class="step-li-head step-li-head_last">
                                <i class="step-li-line"></i>
                                <span class="step-icon">
                                    <i class="icon iconfont icon-channelQuery"></i>
                                </span>
                            </div>
                            <p class="step-title">完成</p>
                            <p class="step-subTitle">
                                <span>2018-01-03</span>
                                <span>10:13:00</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="block-wrapper orderDetail-info">
                    <div class="bw-title">订单详情</div>
                    <div class="bw-content">
                        <ul class="layui-row">
                            <li class="layui-col-sm3">
                                <ul>
                                    <li class="orderDetail-info_item">
                                        <span class="info-label ">订单来源：</span>
                                        <div class="info-text">新零售</div>
                                    </li>
                                    <li class="orderDetail-info_item">
                                        <span class="info-label">订单编码：</span>
                                        <div class="info-text">0648372541</div>
                                    </li>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">下单时间：</span>
                                        <div class="info-text">399</div>
                                    </li>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">会员姓名：</span>
                                        <div class="info-text">丽丽</div>
                                    </li>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">会员电话：</span>
                                        <div class="info-text">156200011111</div>
                                    </li>
                                </ul>
                            </li>
                            <li class="layui-col-sm3">
                                <ul>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">渠道：</span>
                                        <div class="info-text">渠道1</div>
                                    </li>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">店铺：</span>
                                        <div class="info-text">店铺1</div>
                                    </li>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">子订单编码：</span>
                                        <div class="info-text">
                                            <span>0648372541</span>
                                            <span>0648372541</span>
                                        </div>
                                    </li>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">发展人：</span>
                                        <div class="info-text">小明</div>
                                    </li>
                                </ul>
                            </li>
                            <li class="layui-col-sm6">
                                <ul>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">商品总额：</span>
                                        <div class="info-text">399</div>
                                    </li>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">折扣金额：</span>
                                        <div class="info-text">折扣1</div>
                                    </li>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">优惠金额：</span>
                                        <div class="info-text">0</div>
                                    </li>

                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">红包：</span>
                                        <div class="info-text">0</div>
                                    </li>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">实收金额：</span>
                                        <div class="info-text">399</div>
                                    </li>
                                    <li class=" orderDetail-info_item">
                                        <span class="info-label">支付方式：</span>
                                        <div class="info-text">支付宝</div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="block-wrapper layui-form">
                    <div class="bw-title">商品清单</div>

                    <div class=" bw-content table-complex">
                        <table class="layui-hide" id="test" lay-filter="orderDetail"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="logistics">
        <div class="table-detail-wrap">
            <span>{{d.logistics}}</span>
            <a class="layui-link layui-link-normal" lay-event="logisticsDetail">物流详情</a>
        </div>
    </script>
    <script type="text/html" id="opera">
        <div class="table-link-wrap">
            <a class="layui-link layui-link-normal" lay-event="back">退货</a>
            <a class="layui-link layui-link-normal" lay-event="change">换货</a>
        </div>
    </script>
    <script type="text/html" id="goodsInfo">
        <div class="goodsInfo-wrap">
            <dl class="clearfix">
                <dt class="goodsInfo-img mr20"><img src="../../static/images/orderQueryTest.png"/></dt>
                <dd class="">
                    <p class="goodsInfo-title">{{d.goods.name}}</p>
                    <ul class="goodsInfo-attr">
                        <li>
                            <span>商品编码：</span><span>{{d.goods.code}}</span>
                        </li>
                        <li>
                            <span> 商品属性：</span><span>{{d.goods.attr}}</span>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </script>
    <script type="text/html" id="moneyNum1">
        <span class="">￥{{d.money}}</span>
    </script>
    <script type="text/html" id="moneyNum2">
        <span class="moneyText">￥{{d.totalMoney}}</span>
    </script>
    <script src="../../static/third/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../static/busi/' //你存放新模块的目录，注意，不是layui的模块目录
        }).use('orderDetail'); //加载入口
    </script>
</body>

</html>